# macOS
.DS_Store
._*

# Gradle
.gradle/
build/
local.properties

# Draw.io
*.drawio.bkp

# IntelliJ
*.iml
.idea/
out/
.kotlin/

# PyCharm
.venv/
__pycache__/
.pytest_cache/
*.egg-info/
**/.coverage

# WebStorm
node_modules/
coverage/
